<div class="container-fluid main">
  <div class="container main-nav">
    <nav>
      <ul>
        <li style="margin: 0 17rem 0 0;"><a href="">Logo</a></li>
        <li style="margin: 0 5rem 0 0;"><a routerLink="/mysaahdi">My Shaadi</a></li>
        <li style="margin: 0 5rem 0 0;"><a routerLink="matches">Matches</a></li>
        <li style="margin: 0 5rem 0 0;"><a routerLink="search">Search</a></li>
        <li style="margin: 0 14rem 0 0;"><a routerLink="inbox">Inbox</a></li>
        <li style="margin: -0.5rem 5rem 0 0;border: 1px solid white;padding: 0.5rem 2rem;"><a routerLink="upgrade"><i class="fa-solid fa-crown"></i>Upgrade Now</a></li>
        <li style="margin: 0 5rem 0 0;border-right:1px solid white ;padding: 0 1rem 0 0 ;"><a routerLink="help">Help</a></li>
        <li><a routerLink="profile">Profile</a></li>
        
      </ul>
      <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dropdown button
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </div>
    </nav>
  </div>
</div>