.fliud{
  background-color: rgba(243, 244, 246, 1);
  padding: 12rem 0 19rem 0;
}
.main{
  max-width: 700px;
}
.form-container {
  border-radius: 0.75rem;
  background-color: white;
  padding: 2rem;
  color: rgba(243, 244, 246, 1);
  max-width: 700px;

}

.title {
  text-align: center;
  font-size: 3rem;
  line-height: 2rem;
  letter-spacing: 0.5rem;
  font-weight: 700;
  color: black;
}

.form {
  margin-top: 1.5rem;
}

.input-group {
  margin-top: 0.25rem;
  font-size: 1.5rem;
  line-height: 1.25rem;
  width: 100%;
}

.input-group label {
  display: block;
  color: rgba(156, 163, 175, 1);
  margin: 1.5rem 0;
}

.input-group input {
  min-width: 100%;
  border-radius: 0.375rem;
  border: 1px solid rgba(55, 65, 81, 1);
  outline: 0;
  background-color: rgb(239, 240, 244);
  padding: 0.75rem 1rem;
  color: rgb(17, 17, 17);
}

.input-group input:focus {
  border-color: rgba(167, 139, 250);
}

.forgot {
  display: flex;
  justify-content: flex-end;
  font-size: 0.75rem;
  line-height: 1rem;
  color: rgb(15, 17, 20);
  margin: 8px 0 14px 0;
}

.forgot a,.signup a {
  color: rgb(9, 10, 14);
  text-decoration: none;
  font-size: 14px;
}

.forgot a:hover, .signup a:hover {
  text-decoration: underline rgba(167, 139, 250, 1);
}

.sign {
  display: block;
  width: 100%;
  background-color: rgba(167, 139, 250, 1);
  padding: 0.75rem;
  text-align: center;
  color: rgb(239, 242, 250);
  border: none;
  border-radius: 0.375rem;
  font-weight: 600;
}

.social-message {
  display: flex;
  align-items: center;
  padding-top: 1.5rem;
}

.line {
  height: 1px;
  flex: 1 1 0%;
  background-color: rgba(55, 65, 81, 1);
}

.social-message .message {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  font-size: 1.2rem;
  line-height: 1.25rem;
  color: rgba(156, 163, 175, 1);
}

.social-icons {
  display: flex;
  justify-content: center;
}

.social-icons .icon {
  border-radius: 0.125rem;
  padding: 0.75rem;
  border: none;
  background-color: transparent;
  margin-left: 8px;
}

.social-icons .icon svg {
  height: 1.5rem;
  width: 1.5rem;
  fill: #111010;
}

.signup {
  text-align: center;
  font-size: 1rem;
  line-height: 1rem;
  color: rgba(156, 163, 175, 1);
}
