<div class="container-fluid main">
  <div class="container s-main">
    <nav class="navbar1">
      <ul>
        <li><a routerLink="dashboard">Dashboard</a></li>
        <li><a routerLink="/mysaahdi/profile">My Profile</a></li>
        <li><a routerLink="/my_photos">My Photos</a></li>
        <li><a routerLink="/partner_preference">Partner Preferences</a></li>
        <li><a routerLink="/settings">Settings</a></li>
        <li><a routerLink="/my_shadhi_more">More</a></li>
      </ul>
    </nav>
    <router-outlet></router-outlet>
  </div>
</div>